.loginPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    background-color: indianred;
}
.userName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    font-size: x-large;
    text-transform: capitalize;
}
.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    font-size: x-large;
    text-transform: capitalize;
}

.completeBar{
    height: 30px;
    width: 40vw;
}

.buttons{
    height: 5vh;
    width: 10vw;
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
    color: blueviolet;
}
