.scenario{
    width: 95vw;
    height: 80vh;
    background-image: url("../../assets/sprites/backgroundScenary.png");
    background-repeat: no-repeat;
    background-size: 1300px 550px;
}


.stacksSection{
    display: flex;
    justify-content: end;
    align-content: end;
    justify-items: end;

}

.hungry{
    width: 50%;
}

.funLevel{
    width: 50%;
}
