.cloud {
    position: absolute;
    animation-name: cloudAnimation;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    width: 200px;
    height: 80px;
}

img{
    object-fit: contain;
    width: 100%;
}

@keyframes cloudAnimation {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
}
