
.square{
    box-sizing: border-box;
    height: 100%;
    width: calc(100% / 3);
    border: black solid 2px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.square:hover{
    background-color: #34f8ff;
}
