@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap');

.screen{
    background-color: cadetblue;
    height: 100vh;
    padding: 25px;
    justify-content: center;
    align-items: center;
    font-family: 'Belanosima', sans-serif;
}

.infoSection{
    display: flex;
    flex-direction: row;
}
